<div class="my-container mx-auto">
    <div class="container"> 
    <P>The Online Shop application created by <strong>Tomasz Logisz</strong>.</P>

    <p> You can log in to the store using the sample account:</p>
    <p> Login: user@example.com </p>
    <p> Password: user </p>

    <p> Application Stack:</p>
    <p> Frontend: Angular 15</p>
    <p> Backend: C#, .NET Framework, ASP.NET MVC 5</p>
    <p> Database: Relational Database: Microsoft SQL Server, T-SQL</p>
    <P> Hosting Platform: Microsoft Azure </P>

    <p> Feel free to contact me.</p>
    <p> E-mail: tomek.logisz@gmail.com</p>
    <p> Phone Number: 697 225 149 </p>
    </div>
</div>